/* couleur : #109290 #109290 11a29f*/


/*-------------------------------------------*/

/* BASIC SETUPS */

/*-------------------------------------------*/

* {
	/* A faire dès le début ! */
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	/* Réglages de base */
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}


.clearfix {
	zoom: 1
}

.clearfix:after {
	content: ',';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}



/*-------------------------------------------*/

/* REUSABLE COMPONENTS */

/*-------------------------------------------*/

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 60px 0;
}


/* -- text -- */

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
	color: #333;
}

h1:after {
	display: block;
	height: 3px;
	background-color: #109290;
	content: "";
	width: 300px;
	margin: 0 auto;
	margin-top: 30px;
	z-index: 1;
}

h2 {
	font-size: 180%;
	text-align: center;
	word-spacing: 2px;
	letter-spacing: 1px;
	margin-bottom: 60px;
	border-bottom: 2px solid #109290;
	border-top: 2px solid #109290;
	padding: 20px 0;

}

h3 {
	font-size: 120%;
	word-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #666;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

h3:hover {
	color: #109290;
}

h4 {
	color: #333;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 15px 0 0 0;
}

p {
	text-align: justify;
	line-height: 140%;
}

.col p {
	text-align: left;
}

.info-text {
	width: 80%;
	margin: 0 10%;
}

.list {
	width: 80%;
	margin: 3% 10%;
	transform: translateX(8%);
}


/* -- links -- */

a:link,
a:visited {
	border-bottom: 3px solid transparent;
	-webkit-transition: border-bottom 0.2s;
	transition: border-bottom 0.2s;
	padding-bottom: 5px;
	color: #333;
	text-decoration: none;
}

a:active,
a:hover {
	border-bottom: 2px solid #13b1ae;
}

p a:active, p a:hover{
	border-bottom: 3px solid transparent;
}



ol {
	list-style: circle;
}


ul {
	list-style: none;
}

ul li {
	margin-left: 25px;
}

.important-link {
	font-weight: 400;
}

.col h3 {
	text-align: center;
}

.col p {
	text-align: center;
	width: 95%;
	margin: 0 5%;
}

/*-- icons --*/
.icon-small{
    display:inline-block;
    color: #109290;
    font-size: 120%;
    vertical-align:text-bottom;
    padding-right: 10px;
}

.icon-big {
	display: block;
	margin: 0 40%;
	color: #13b1ae;
	font-size: 300%;
	margin-bottom: 30px;
}

.arrow {
	position: absolute;
	left: 47%;
	bottom: 5%;
	display: block;
}

.arrow a:hover{
	border-bottom: 2px solid transparent;
}

.icon-arrow {
	color: #13b1ae;
	font-size: 300%;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.icon-arrow:hover{
    color: #ffffff;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



/*--- sections ---*/

.bandeau{
    position: relative;
	height: 800px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    height: 650px;
}

.bandeau p {
	font-size: 80%;
	position: absolute;
	right: 10px;
	top: 90%;
	color: #333;
}

.section-odd{
    background-color: #f5f5f5;
}

.section-image img {
	width: 70%;
	height: auto;
	margin: 30px 15% 0 15%;
}

.section-image .img-small {
	width: 40%;
	margin: 0 30%;
}

.legende {
	font-size: 60%;
	text-align: center;
	color: #383838;
	margin-bottom: 3%;
}





/*-------------------------------------------*/

/* FOOTER */

/*-------------------------------------------*/

footer {
	background :#ffffff;
	padding-top:10px;
}

footer p {
	text-align: center;
	font-size: 80%;
}

.footer-nav li:first-child {
	margin-left: 0;
}



/*-------------------------------------------*/

/* HEADER */

/*-------------------------------------------*/

header {
	position: relative;
	height: 100px;
	background-color: #fff;
	z-index: 999;
}


/*-- main nav -- */

nav {
	padding: 0 5%;
}

.logo {
	display: inline-block;
	float: left;
	height: 62px;
	width: auto;
	margin-top: 15px;
}

.main-nav{
	float: right;
	list-style: none;
}

.main-nav li{
	display: inline-block;
	font-size: 75%;
	padding: 40px 20px;
	margin-left: 20px;
}


.main-nav li:hover {
	background:#dedede;
}

.main-nav a:active, .main-nav a:hover{
	border-bottom: 2px solid transparent;
}

.main-nav li ul{
	position: absolute;
	margin-top: 40px;
	margin-left: -20px;
	background-color: #11a29f;
	z-index: 900;
}

.main-nav li ul li{
	display: none;
	padding: 20px;
	font-size: 100%;
	margin: 0;
}

.main-nav li ul li a{
	color: #fff;
}

.main-nav li ul li:hover a{
	color: #333;
}

.main-nav li ul li:hover{
	background: none;
	background-color: #fff;
}

.main-nav li:hover ul li{
	display:block;
}


/*-- sticky nav -- */

.sticky {
	position: fixed;
	width: 100%;
	height: 60px;
	background: #dedede;
	z-index: 999;
}

.sticky .logo{
	height: 30px;
}

.sticky .main-nav li{
	font-size: 75%;
	padding: 20px 20px;
}

.sticky .main-nav li:hover {
	background:none;
	background-color: #fff;
}

.sticky .main-nav li ul{
	margin-top: 20px;
	font-size: 130%;
}

/*-- mobile nav -- */

.mobile-nav-icon {
	float: right;
	margin-top: 30px;
	cursor: pointer;
	display: none;
	font-size: 200%;
	z-index: 1000;
}

.mobile-nav-icon:hover,
.mobile-nav-icon:active {
	border: 0;
}


/*-------------------------------------------*/

/*-------------------------------------------*/

/* INDEX PAGE */

/*-------------------------------------------*/

/*-------------------------------------------*/


.main-section {
	position: relative;
	height: 650px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.9))), url(img/main-section.jpg);
	background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(img/main-section.jpg);
	z-index: 1;
}

.main-title {
	position: relative;
	width: 80%;
	display: inline-block;
	margin: 180px 10% 0 10%;
	text-align: center;
}


.presentation{
	width: 70%;
	margin: 40px 15%;
	padding: 40px;
	border: 2px solid #109290;	
}

.info-box {
    display: block;
	border: 2px solid #109290;
	width: 40%;
	margin: 20px 30%;
	padding: 20px;
	background-color: #f1f1f1;
	border-radius: 6%;
	-webkit-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}

.info-box:hover {
	border-color:#13b1ae; 
}

.info-box a{
	text-align: center;
}

.info-text{
    display: block;
    height: auto;
}

.info-box a:hover p{
	font-weight: 400;
}

.info-box p{
    text-align: center;
    font-size: 120%;
}





/*-------------------------------------------*/

/* FIELDS */

/*-------------------------------------------*/

.field-box {
	padding: 40px 20px;
	margin: 10px 10px;
	border: 1px solid rgba(85, 85, 85, 0.7);
	border-radius: 1%;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
	height: 350px;
}

.field-box:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}





/*-------------------------------------------*/

/* POLITIQUE */

/*-------------------------------------------*/

.bandeau-politique {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.4))),url(img/politique_bandeau.jpg);
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)),url(img/politique_bandeau.jpg); 
}

/*-------------------------------------------*/

/* CONSOMMATEURS */

/*-------------------------------------------*/

.bandeau-consommateurs {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.4))),url(img/consommateurs_bandeau.jpeg);
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4)),url(img/consommateurs_bandeau.jpeg); 
}


/*-------------------------------------------*/

/* CONSTRUCTEURS */

/*-------------------------------------------*/

.bandeau-constructeurs {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.4))),url(img/constructeurs_bandeau.jpeg);
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3)),url(img/constructeurs_bandeau.jpeg); 
}

/*-------------------------------------------*/

/* ASSOCIATIONS */

/*-------------------------------------------*/

.bandeau-associations {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.4))),url(img/assos_bandeau.jpeg);
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3)),url(img/assos_bandeau.jpeg); 
}

/*-------------------------------------------*/

/* IMPACT SUR LA POPULATION */

/*-------------------------------------------*/

.bandeau-population {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.4))),url(img/population_bandeau.jpeg);
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3)),url(img/population_bandeau.jpeg); 
}

/*-------------------------------------------*/

/* ENGAGEMENT POLITIQUES */

/*-------------------------------------------*/

.bandeau-engagement {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.4))),url(img/engagement_bandeau.jpeg);
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3)),url(img/engagement_bandeau.jpeg); 
}


